*.vsp
*.psess
*.suo
*.pdb
*.csproj.user
*.sqlproj.user
*.trx
*.dbmdl
*.orig

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj/
[Bb]in/
packages/

bower_components
Typescript/node_modules
Typescript/coverage
Typescript/junit-report.xml
Typescript/.tests
Typescript/.tscache
Typescript/tscommand-*
Typescript/typings